{% extends "base.html" %}

{% block title %}ambulance{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/10.jfif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Top Heathcare services</h5>
              <p>We Provide one of the best healthcare services.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/11.jfif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Immediate solutions</h5>
              <p>We provide fast and immediate services.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/12.jfif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>We care</h5>
              <p>Health is wealth and we care for it.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?medicine" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Get the medicines.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?doctors" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Consult a doctor.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?ambulance" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Ambulance Services</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?appointment" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Book your appointments</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?emergency" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Emergency</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?prescription" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Prescriptions</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?assistance" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Get the assistace</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?surgery" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Surgeries</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://source.unsplash.com/1600x900/?diet" class="d-block w-100" alt="...">
    
                <div class="card-body">
                  <p class="card-text">Precautions after surgery</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body %}